<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/db_jdkf?useUnicode=true&amp;amp;amp;amp;amp;amp;characterEncoding=utf-8">
			<!-- value="jdbc:mysql://localhost:3306/db_jdkf?useUnicode=true&amp;amp;amp;amp;amp;amp;characterEncoding=utf-8 -->
		</property>
		<property name="username" value="MJCoder"></property>
		<property name="password" value="MJCoder598157378mysql"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/TAdmin.hbm.xml</value>
				<value>com/model/TGonggao.hbm.xml</value>
				<value>com/model/TLiuyan.hbm.xml</value>
				<value>com/model/TUser.hbm.xml</value>
				<value>com/model/TCatelog.hbm.xml</value>
				<value>com/model/TKefang.hbm.xml</value>
				<value>com/model/TYuding.hbm.xml</value>
				<value>com/model/TPinglun.hbm.xml</value>
				<value>com/model/TRuzhu.hbm.xml</value>
			</list>
		</property>
	</bean>


	<bean id="indexAction" class="com.action.indexAction"
		scope="prototype">
		<property name="catelogDAO">
			<ref bean="TCatelogDAO" />
		</property>
		<property name="kefangDAO">
			<ref bean="TKefangDAO" />
		</property>
	</bean>


	<bean id="TUserDAO" class="com.dao.TUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>

	<bean id="userAction" class="com.action.UserAction"
		scope="prototype">
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
	</bean>



	<!-- 后台的登录 -->
	<bean id="loginService" class="com.service.loginService">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
		<property name="catelogDAO">
			<ref bean="TCatelogDAO" />
		</property>
	</bean>


	<bean id="TLiuyanDAO" class="com.dao.TLiuyanDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="liuyanAction" class="com.action.liuyanAction"
		scope="prototype">
		<property name="liuyanDAO">
			<ref bean="TLiuyanDAO" />
		</property>
	</bean>


	<bean id="TAdminDAO" class="com.dao.TAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adminAction" class="com.action.adminAction"
		scope="prototype">
		<property name="adminDAO">
			<ref bean="TAdminDAO" />
		</property>
	</bean>


	<bean id="TGonggaoDAO" class="com.dao.TGonggaoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="gonggaoAction" class="com.action.gonggaoAction"
		scope="prototype">
		<property name="gonggaoDAO">
			<ref bean="TGonggaoDAO" />
		</property>
	</bean>


	<bean id="TCatelogDAO" class="com.dao.TCatelogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="catelogAction" class="com.action.catelogAction"
		scope="prototype">
		<property name="catelogDAO">
			<ref bean="TCatelogDAO" />
		</property>
	</bean>



	<bean id="TKefangDAO" class="com.dao.TKefangDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="kefangAction" class="com.action.kefangAction"
		scope="prototype">
		<property name="catelogDAO">
			<ref bean="TCatelogDAO" />
		</property>
		<property name="kefangDAO">
			<ref bean="TKefangDAO" />
		</property>
		<property name="pinglunDAO">
			<ref bean="TPinglunDAO" />
		</property>
	</bean>


	<bean id="TPinglunDAO" class="com.dao.TPinglunDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<bean id="TYudingDAO" class="com.dao.TYudingDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="yudingAction" class="com.action.yudingAction"
		scope="prototype">
		<property name="yudingDAO">
			<ref bean="TYudingDAO" />
		</property>
		<property name="kefangDAO">
			<ref bean="TKefangDAO" />
		</property>
		<property name="userDAO">
			<ref bean="TUserDAO" />
		</property>
	</bean>




	<bean id="TRuzhuDAO" class="com.dao.TRuzhuDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ruzhuAction" class="com.action.ruzhuAction"
		scope="prototype">
		<property name="ruzhuDAO">
			<ref bean="TRuzhuDAO" />
		</property>
		<property name="kefangDAO">
			<ref bean="TKefangDAO" />
		</property>
	</bean>
</beans>